body {
    background: url('../img/bg.jpg');
}

.bg-1 {

    background: radial-gradient(#387989, #001f3f);
}

.bg-2 {
 
    background: radial-gradient(#DDDDDD, #AAAAAA);
}

.logo {
    margin-left: 40px;
    margin-top: 30px;
}

p {
    color: white;
}

